.main {
  display: flex;
  position: relative;
  margin: 0 auto;
  max-width: 1440px;

  .main__content {
    flex-grow: 1;
    margin-left: 100px;
    padding: 0 30px;
    height: 100vh;
    overflow: scroll;
  }

  @media screen and (min-width: 768px) {
    .main__content {
      margin-left: 150px;
      padding: 0 70px;
    }
  }

     @media screen and (min-width: 1024px) {
       .main__content {
         padding: 0 130px;
       }
     }
}